{% extends 'base.html.twig' %}

{% block title %}AppointmentRequest index{% endblock %}

{% block body %}
    <h1>AppointmentRequest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Birth</th>
                <th>Gender</th>
                <th>Phonenumber</th>
                <th>Email</th>
                <th>New_old</th>
                <th>Appointmentprocedure</th>
                <th>Appointmentdate</th>
                <th>Type</th>
                <th>Lien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment_request in appointment_requests %}
            <tr>
                <td>{{ appointment_request.id }}</td>
                <td>{{ appointment_request.name }}</td>
                <td>{{ appointment_request.lastname }}</td>
                <td>{{ appointment_request.birth }}</td>
                <td>{{ appointment_request.gender }}</td>
                <td>{{ appointment_request.phonenumber }}</td>
                <td>{{ appointment_request.email }}</td>
                <td>{{ appointment_request.newOld ? 'Yes' : 'No' }}</td>
                <td>{{ appointment_request.appointmentprocedure }}</td>
                <td>{{ appointment_request.appointmentdate ? appointment_request.appointmentdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment_request.type }}</td>
                <td>{{ appointment_request.lien }}</td>
                <td>
                    <a href="{{ path('app_appointment_request_show', {'id': appointment_request.id}) }}">show</a>
                    <a href="{{ path('app_appointment_request_edit', {'id': appointment_request.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_appointment_request_new') }}">Create new</a>
{% endblock %}
