{% extends 'base.html.twig' %}

{% block title %}AppointmentRequest{% endblock %}

{% block body %}
    <h1>AppointmentRequest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment_request.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ appointment_request.name }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ appointment_request.lastname }}</td>
            </tr>
            <tr>
                <th>Birth</th>
                <td>{{ appointment_request.birth }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ appointment_request.gender }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ appointment_request.phonenumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ appointment_request.email }}</td>
            </tr>
            <tr>
                <th>New_old</th>
                <td>{{ appointment_request.newOld ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Appointmentprocedure</th>
                <td>{{ appointment_request.appointmentprocedure }}</td>
            </tr>
            <tr>
                <th>Appointmentdate</th>
                <td>{{ appointment_request.appointmentdate ? appointment_request.appointmentdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ appointment_request.type }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ appointment_request.lien }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_appointment_request_index') }}">back to list</a>

    <a href="{{ path('app_appointment_request_edit', {'id': appointment_request.id}) }}">edit</a>

    {{ include('appointment_request/_delete_form.html.twig') }}
{% endblock %}
