<!DOCTYPE html>
<html>
<head>
	<title>New Post Published</title>
</head>
<body>
	{# <p>Dear {{ user.full_name }},</p>

	<p>We wanted to let you know that a new post has been published on our website:Aphrodite</p>

	<h3>{{ post.title }}</h3>

	<p>{{ post.summary }}</p>

	<p>You can read the full post here: <a href="{{ blog_post }}">{{ blog_post }}</a></p> #}

	<p>Thank you for being a part of our community!</p>

	<p>Sincerely,<br>The Website Team</p>
</body>
</html>
