{% extends 'admin/aside.html.twig' %}


{% block body %}
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">




                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">you have {{ resultats | length }} results</h4>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Possibility</th>
                                        <th scope="col">Doctor Note</th>
                                        <th scope="col">Urgency</th>
                                        <th scope="col">Diagnostic date</th>
                                        <th scope="col">actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for resultat in resultats %}
                                        <tr>
                                            <th scope="row">{{ resultat.id }}</th>
                                            <td>{{ resultat.action }}</td>
                                            <td>{{ resultat.possibility }}</td>
                                            <td>{{ resultat.doctorNote }}</td>
                                            <td>{{ resultat.urgency }}</td>
                                            <td>{{ resultat.diagnostic.date|date('d/m/Y H:i') }}</td>
                                            <td>
                                                <a href="{{ path('app_resultat_edit', {'id': resultat.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
                                                <hr>
                                                {{ include('admin/diagnostic/_delete_form_resultat.html.twig') }}
                                            </td>
                                        <tr>
                                            <td>
                                                <a href="{{ path('app_diagnostic_admin_search_sort') }}">return to diagnostic list</a></tr>
                                        <a class="btn btn-md btn-gradient circle"  href="{{ path ('imp',{'id': resultat.id}) }}">Imprimer <i class="fas fa-angle-right"></i></a>

                                        </td> </tr>
                                        </tr>

                                    {% endfor %}

                                    </tbody>


                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<form class="app-search position-absolute"  method="POST" action="{{ path('app_resultat_index') }}">
    <div class="form-group row">

        <div class="col-sm-4">

        </div>
        <div class="col-sm-2">
            <select class="form-control" id="sortField" name="sortField">
                <option value="id" {% if sortField == 'id' %}selected{% endif %}>ID</option>
                <option value="possibility" {% if sortField == 'possibility' %}selected{% endif %}>possibility</option>
            </select>
            <select class="form-control" id="sortOrder" name="sortOrder">
                <option value="asc" {% if sortOrder == 'asc' %}selected{% endif %}>Ascending</option>
                <option value="desc" {% if sortOrder == 'desc' %}selected{% endif %}>Descending</option>
            </select>
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Sort and Search</button>
            <a href="{{ path('app_resultat_index') }}" class="btn btn-secondary">Reset</a>
        </div>
    </div>

</form>


</div>
</div>
</div>

</form>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
{% endblock %}
{% block javascript %}
<script src="{{ asset('assets/libs/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{{ asset('assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('dist/js/app-style-switcher.js') }}"></script>
<!--Wave Effects -->
<script src="{{ asset('dist/js/waves.js') }}"></script>
<!--Menu sidebar -->
<script src="{{ asset('dist/js/sidebarmenu.js') }}"></script>
<!--Custom JavaScript -->
<script src="{{ asset('dist/js/custom.js') }}"></script>

</body>

</html>
{% endblock %}