{% extends 'admin/aside.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Edit Comment</h1>
{% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success alert-dismissible fade show">
                        {% for message in app.flashes('success') %}
                            {{ message|trans }}
                        {% endfor %}

                    </div>
                    <script>
                    //5 sec bech thidde
                        document.addEventListener("DOMContentLoaded", function() {
                            const alert = document.querySelector('.alert');
                            alert.classList.add('show');
                            setTimeout(function() {
                                alert.classList.remove('show');
                            }, 5000);
                        });
                    </script>
                {% endif %}
    {{ form_start(form) }}

    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

    <a href="{{ path('admin_app_comment_index') }}">back to list</a>

    {{ include('admin/comment/_delete_form.html.twig') }}
{% endblock %}
