{% extends 'admin/aside.html.twig' %}
{% block body %}



        
{% block main %}
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
    </p>

    <div class="well">
        <p class="m-b-0"><strong>{{ 'label.summary'|trans }}</strong>: {{ post.summary }}</p>
    </div>

    {{ post.content|markdown_to_html|sanitize_html }}

    {% if not post.tags.empty %}
                    <p class="post-tags">
                        {% for tag in post.tags %}
                            <a href="{{ path('blog_index', {'tag': tag.name == app.request.query.get('tag') ? null : tag.name}) }}"
                            class="label label-{{ tag.name == app.request.query.get('tag') ? 'success' : 'default' }}" style="color: black;"
                            >
                                <i class=" fa fa-tag "></i> {{ tag.name }}
                            </a>
                        {% endfor %}
                    </p>
                {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_post_edit', {id: post.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/blog/_delete_form.html.twig', {post: post}, with_context = false) }}
    </div>



{% endblock %}
{% endblock %}