<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <link rel="stylesheet" href="/style.css" media="all" />
</head>
<body>
<header class="clearfix">
    <div id="logo">
        DoCare
    </div>
    <h1 align="center">Reclamation DoCare </h1>
    <hr></hr>
    <hr></hr>
    <div id="company" class="clearfix">
        <div><span>action </span> {{ resultat.action }} </div>
        <div><span>possibility</span> {{ resultat.possibility}}  </div>
        <div class="alert-danger"><span class="alert-danger">date</span> {{ reclamation.date |date("d/m/Y") }} </div>



    </div><hr></hr>
    <div id="project">
        <div><span>action</span> {{ resultat.action }}</div>
        <div><span>possibility</span> {{ resultat.possibility }} </div>
    </div>
</header>

<hr></hr>

<div id="notices">
    <div>NOTICE:</div>
    <div class="notice">l'equipe DOCARE vous propose de bon plan</div>
</div>
</main>

</body>