{% extends 'base.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
    <h1>Resultat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resultat.id }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ resultat.action }}</td>
            </tr>
            <tr>
                <th>Possibility</th>
                <td>{{ resultat.possibility }}</td>
            </tr>
            <tr>
                <th>DoctorNote</th>
                <td>{{ resultat.doctorNote }}</td>
            </tr>
            <tr>
                <th>Urgency</th>
                <td>{{ resultat.urgency }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_resultat_index') }}">back to list</a>

    <a href="{{ path('app_resultat_edit', {'id': resultat.id}) }}">edit</a>

    {{ include('resultat/_delete_form.html.twig') }}
{% endblock %}
