{% extends 'admin/aside.html.twig' %}

{% block title %}Reponse{% endblock %}

{% block body %}
    <h1>Reponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse.id }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ reponse.reponse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_reponse_index') }}">back to list</a>

    <a href="{{ path('app_admin_reponse_edit', {'id': reponse.id}) }}">edit</a>

    {{ include('admin_reponse/_delete_form.html.twig') }}
{% endblock %}
