{% extends 'base.html.twig' %}



{% block body %}
    <h1>Comment index</h1>
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success alert-dismissible fade show">
                        {% for message in app.flashes('success') %}
                            {{ message|trans }}
                        {% endfor %}

                    </div>
                    <script>
                    //5 sec bech t hidde
                        document.addEventListener("DOMContentLoaded", function() {
                            const alert = document.querySelector('.alert');
                            alert.classList.add('show');
                            setTimeout(function() {
                                alert.classList.remove('show');
                            }, 5000);
                        });
                    </script>
                {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Id Comment</th>
                <th>Content</th>
                <th>PublishedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.publishedAt ? comment.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_comment_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comment_new') }}">Create new</a>
{% endblock %}
